@model Vidly.ViewModels.VidlyViewModel
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Movie List</h2>

    @if (Model.Movies.Count < 1)
    {
        <text>There are no movies to show at this time.</text>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Movies
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.Movies)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.MovieId }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

